@import '~materialize-css/dist/css/materialize.min.css';


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body{
    background-color: #f0f0f0;
    font-size: 13px;
    display: grid;
}

.card, .card-panel {
    cursor: pointer;
    padding: 15px 20px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.container-fluid{
    padding: 1rem 2.5rem;
    margin: auto;
}

.row{
    margin: 0 -0.75rem;
}

.main{
    position: absolute;
    width: calc(100%-250px);
   
}

.subheader{
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
}



.folder{
    width: 225px;
    display: inline-block;
    margin: 15px 20px 15px 0;
    font-weight: 500;
}

.folder i{
    color: rgba(0, 0, 0, 0.54);
    margin-top: -2px; 
 }


.dot
{
 width: 25px;
 height: 25px;
}

.options-container {
    display: flex;
    align-items: center;
    /* Additional styling for the container */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* Position and styling for the dropdown menu */
    /* ... */
  }
  