<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-brand mt-2 mt-lg-0">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
          loading="lazy" />
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Projects</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <a class="text-reset me-3">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <div class="dropdown">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item">Some news</a>
          </li>
          <li>
            <a class="dropdown-item">Another news</a>
          </li>
          <li>
            <a class="dropdown-item">Something else here</a>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" id="navbarDropdownMenuAvatar" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <div *ngIf="userImage != 'http://localhost:3000/images/null'">
            <img [src]="userImage" class="rounded-circle" height="25" alt="Black" loading="lazy" />
          </div>
          <div *ngIf="userImage == 'http://localhost:3000/images/null'">
            <img src="assets/blank.png" class="rounded-circle" height="26" alt="Black" loading="lazy" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a href="/profile" class="dropdown-item">My profile</a>
          </li>
          <li>
            <a class="dropdown-item">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="input-group" style="margin-top: 50px; width: 40%; margin-left: 35%">
  <div id="search-autocomplete" class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>
<div *ngIf="showCreateFolderModal" class="modal">
  <div class="modal-content">
    <h2>Create Folder</h2>
    <input type="text" [(ngModel)]="folderName" />
    <div class="modal-buttons">
      <button (click)="confirmCreateFolder()">Create</button>
      <button (click)="cancelCreateFolder()">Cancel</button>
    </div>
  </div>
</div>
<div class="new">
  <div class="dropdown">
    <a class="text-reset me-3 dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink" role="button"
      data-mdb-toggle="dropdown" aria-expanded="false">
      <div class="btn btn-primary">
        <img src="assets/plus.png" alt="Plus Icon" class="plus-icon" />
        <span class="new-text">NEW</span>
      </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a (click)="createNewFolder()" class="dropdown-item">Create Folder</a>
      </li>
      <li>
  
        <input type="file" id="folderInput" style="display: none" (change)="handleFolderSelect($event)" directory webkitdirectory multiple />
        <a (click)="openFolderInput()" class="dropdown-item">Upload Folder</a>
      </li>
      <li>
        <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)" multiple />
        <a (click)="openFileInput()" class="dropdown-item">Upload File</a>
      </li>
    </ul>
  </div>
</div>


<app-files [foldername]="foldername"></app-files>