<ul class="side-nav fixed floating transparent z-depth-0">
  <li class="active">
    <a href="#"
      ><i class="material-icons blue-text text-darken-1">dashboard</i>My
      Drive</a
    >
  </li>
  <li>
    <a href="#"><i class="material-icons">devices</i>Computers</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">people</i>Shared with me</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">access_time</i>Recent</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">camera</i>Google Photos</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">star</i>Starred</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">delete</i>Trash</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#"><i class="material-icons">cloud</i>Backup</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#"><i class="material-icons">storage</i>Upgrade Storage</a>
  </li>
</ul>

<div class="main">
  <div class="container-fluid">
    <div *ngIf="enablefolder">
      <p class="subheader">Folders</p>
      <div
        *ngFor="let folder of foldernames"
        class="card-panel folder"
        (click)="gotofolder(folder)"
      >
      <i class="material-icons left ">folder</i> <div class="folder-name">{{ folder }}</div>
      </div>
    </div>
    <nav *ngIf="!enablefolder" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  (click)="todashboard()">Home</a></li>
        <ng-container *ngIf="folder.length <= MAX_VISIBLE_BREADCRUMBS; else showEllipsis">
          <li *ngFor="let i of folder; let index = index" class="breadcrumb-item custom-breadcrumb" aria-current="page">
            <a (click)="clikedfolder(i,index)"  > {{ i }}</a>
          </li>
        </ng-container>
        <ng-template #showEllipsis>
          <li class="breadcrumb-item">...</li>
          <li *ngFor="let i of folder.slice(folder.length - MAX_VISIBLE_BREADCRUMBS); let index = index" class="breadcrumb-item custom-breadcrumb"
            aria-current="page">
            <a (click)="clikedfolder(i,index)">{{ i }}</a>
          </li>
        </ng-template>
      </ol>
    </nav>
    
    
    <div *ngIf="nullfiles">
      <app-nullfiles></app-nullfiles>
    </div>
    <app-folder *ngIf="!enablefolder" [foldernames]="foldercomponentfoldername" (myEvent)="handleEvent($event)" ></app-folder>
  </div>
</div>
